.build
.index-build
DerivedData
/.previous-build
/.steamcmd/
xcuserdata
.DS_Store
*~
\#*
.\#*
.*.sw[nop]
*.xcscmblueprint
/default.profraw
*.xcodeproj
!Open Wallpaper Engine.xcodeproj/
Open Wallpaper Engine.xcodeproj/*
!Open Wallpaper Engine.xcodeproj/project.pbxproj
Utilities/Docker/*.tar.gz
.swiftpm
Package.resolved
/build
*.pyc
.docc-build
.vscode
Utilities/InstalledSwiftPMConfiguration/config.json
.devcontainer
xcschememanagement.plist
*.xcscheme

*.mp4
